{% extends 'tweets/base.html' %}
{% block head_title %}
Amazing 
{% endblock head_title %}

{% block content %}

<div class="row text-center">
  <div class="col">
    <h1>Welcome to Babble</h1>
  </div>
</div>
<div class='row mb-3'>
  <div class='col-md-4 mx-auto col-10'> 
    <form class='form' id="tweet-create-form" action="/create-tweet" method="post"> 
      {% csrf_token %}
      <div class='d-none alert alert-danger'  id='tweet-create-form-error'></div>
      <input type="hidden" value="/" name="next" >
      <textarea required='required' class="form-control" name="content" placeholder="Your Tweet" cols="40" rows="5"></textarea>
      <button type='submit' class='btn btn-secondary'>Tweet</button>
    </form>
  </div>
</div>
<div class="row" id='tweets'>
  Loading...
</div>

<script>

  function handleTweetFormError(msg,display){
    var myErrorDiv = document.getElementById('tweet-  ')
    if(display===true){
      myErrorDiv.setAttribute("class","d-block alert alert-danger")
      myErrorDiv.innerText = msg
    }else{

    }
  }

  function handleTweetCreateFormDidSubmit(event){
    event.preventDefault()

    const myForm = event.target
    const myFormData = new FormData(myForm)

    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    
    const xhr = new XMLHttpRequest()
    const responseType ='json'
    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
    xhr.setRequestHeader("X-REQUESTED-WITH","XMLHttpRequest")

    xhr.onload = function(){
        // const newTweet = xhr.response  
        // console.log(xhr.status, serverResponse)
        // const tweetsEl = document.getElementById("tweets")
        // loadTweets(tweetsEl)

        if(xhr.status === 201){
          handleTweetFormError("",false)
          const newTweetJson =  xhr.response
          //const newTweetJson = JSON.parse(newTweet)
          console.log(newTweetJson.likes)
          const newTweetElement = formatTweetElement(newTweetJson)
          console.log(newTweetElement) 
          const ogHtml = tweetsContainerElement.innerHTML
          tweetsContainerElement.innerHTML = newTweetElement + ogHtml
          myForm.reset()
          //tweetsContainerElement.prepend(newTweetElement) add element at the end
        }  
        else if (xhr.status === 400){
          const errorJson = xhr.response
          const contentError = errorJson.content
          let contentErrorMsg;
          if(contentError){
            contentErrorMsg = contentError[0]
            if(contentErrorMsg){
              handleTweetFormError(contentErrorMsg,true)
            }
          }else{
            alert("An Error Occured")
          }
          console.log(errorJson)
        }

    }
    xhr.onerror = function(){
      alert("ERROR!")
    }
    xhr.send(myFormData)
  }

  const tweetCreateFormEl = document.getElementById("tweet-create-form")
  tweetCreateFormEl.addEventListener("submit",handleTweetCreateFormDidSubmit)
  const tweetsContainerElement = document.getElementById("tweets")

  function loadTweets(tweetsElement){
    const xhr = new XMLHttpRequest() 
    const method ='GET'
    const url ='/babbles'
    const responseType ='json'
    xhr.responseType = responseType
    xhr.open(method,url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest")
    xhr.setRequestHeader("X-REQUESTED-WITH","XMLHttpRequest")
    xhr.onload = function(){
    const serverResponse = xhr.response
    var listedItems = serverResponse.response
    var finalTweetStr = ""
    var i
    for (i=0;i<listedItems.length;i++){
     // console.log(listedItems[i])
      var tweetObj = listedItems[i]
      // var currentItem ='<div class = "mb-4" ><h1>' + listedItems[i].id +'</h1>' + '<p>' + listedItems[i].content +'</p></div>'
      var currentItem = formatTweetElement(tweetObj)
      finalTweetStr += currentItem
    }
    tweetsElement.innerHTML = finalTweetStr
   // console.log(xhr.response)
  }
  xhr.send()
  }
  loadTweets(tweetsContainerElement)


function handleDidLike(tweet_id,currentCount){
  console.log(currentCount)
}

function LikeBtn(tweet){
  return "<button class='btn btn-primary' onclick=handleDidLike("+tweet.id + "," +tweet.likes+")>"+tweet.likes+" Like</button>"
}

function formatTweetElement(tweet){
  var formattedTweet ='<div class = " col-12 border mb-4 py-3 tweet" id="tweet-'+tweet.id+'">'+ 
  '<p>' 
  + tweet.content 
  +'</p><div class="btn-group">'
  + LikeBtn(tweet)
  +'</div></div>'
  return formattedTweet
}
 
</script>
{% endblock content %}